 .kitchen{
    background-color: rgb(15, 214, 148);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 55%;
}

.elementKitchen {
    font-family: Verdana;
    font-size: 20px;
} 

.btn-listo {
 margin-top: 5%;   
 margin-left: 65%; 
}